.image{
    object-fit: cover;
    width:100%;
    height:100%;
    position:fixed;
    z-index:-1; 
    box-shadow: inset 0 0 0 1000px rgba(45,88,35,0.7);
}
.hero-container{ 
    /* background: url('./images/img-9.jpg')
        center center/cover no-repeat; */
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}
.hero-container > h1{
    color:#fff;
    font-size: 80px;
    margin-top: -80px;
}
.hero-container > p {
    margin-top: 8px;
    color:#fff;
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}
.hero-btns{
    margin-top: 32px;
}
.hero-btns .btns{
    margin:6px;
}
.fa-play-circle{
    margin-left: 4px;
}
.btns {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
@media screen and (max-width:960px){
    .hero-container > h1{
        font-size: 70px;
        margin-top: -150px;
    }
    .hero-container > h1{
        font-size: 30px;
    }
    .btn-mobile{
        display:block;
        text-decoration: none;
    }
    .btn{
        width:100%;
    }
}

